.review-card {
    width: auto;
    max-width: 320px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 16px;
}

.icon-telegram-review {
    display: inline-block;
    margin-left: auto;
}

.icon-telegram-review img {
    width: 50px;
    height: 50px;
    display: block;
}