.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование */
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 400px; /* Ширина модального окна */
    max-width: 80%; /* Максимальная ширина */
}

.icon {
    border-radius: 8%;
    height: 150px;
    width: 100px;
}