.delivery {
  max-width: 1380px;
  margin: 0 auto;
  font-family: "Montserrat";
}

.delivery h1 {
  margin-bottom: 1rem;
}

.delivery p {
  margin-bottom: 1.5rem;
}

.delivery h2 {
  margin-bottom: 1rem;
}

.delivery ul {
  margin-left: 1.5rem;
  line-height: 1.6;
  padding: 0; 
}

.delivery ul li {
  margin-bottom: 1.25rem;
}

.delivery ul li:last-child {
  margin-bottom: 0;
}

.delivery p + h2,
.delivery h2 + ul,
.delivery ul + h2,
.delivery h2 + p {
  margin-top: 1.5rem;
}
