.product-card {
    transition: transform 0.3s ease;
    z-index: 3;

}

.product-card:hover {
    transform: scale(1.05);
}

.price {
    margin-top: 8px;
    font-family: "Montserrat";
}

.name {
    margin-top: 8px;
    font-family: "Montserrat";
}

.icon {
    height: 200px;
    width: 200px;
    cursor: pointer;
    overflow: hidden; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

