.product-detail {
    margin: auto;
    padding: 20px;
    max-width: 1380px;
}

.product-image {
    width: 100%;         
    max-width: 400px;     
    height: auto;         
    border-radius: 12px;
    background: #fff;
    overflow: hidden; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.product-info {
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    gap: 20px; 
}

.product-details {
    flex: 1;                    
}

.product-description {
    margin: 15px 0;
    font-family: "Montserrat";
}

.product-price {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;           
    font-size: 20px;                   
    display: inline-block;       
    text-align: center;
}

.product-price div {
    font-weight: 500;
    font-size: 14px;
    color: #555;             
    margin-top: 5px;
}


@media (min-width: 768px) {
    .product-info {
        flex-direction: row; 
        align-items: flex-start;
    }

    .product-image {
        margin: 0 20px 0 0; 
    }
}