.body {
    max-width: 1380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% auto;
}

.main-content {
    flex: 1; 
    margin-top: 8px;
}

.top {
  position: sticky;
  top: 0;
  z-index: 1000; /* чтобы был поверх контента */
}
