.garants {
    margin-top: 5%;
    max-width: 1380px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.guarantee h1 {
  margin-bottom: 1rem;
}

.guarantee p {
  margin-bottom: 1.5rem;
}

.guarantee h2 {
  margin-bottom: 0.75rem;
}

.guarantee ul {
  margin-left: 1.5rem;
  line-height: 1.6;
}

.guarantee ul li {
  margin-bottom: 1rem;
}

.guarantee ul li:last-child {
  margin-bottom: 0;
}
